<div data-control="toolbar">
    <a
        href="<?= Backend::url('monologophobia/signup/categories/create/') ?>"
        class="btn btn-primary oc-icon-plus"><?= e(trans('monologophobia.signup::lang.categories.text.new_button')); ?></a>

    <button
        class="btn btn-default oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onDelete"
        data-request-confirm="<?= e(trans('monologophobia.signup::lang.categories.text.confirm_delete')); ?>"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', false)"
        data-stripe-load-indicator>
        <?= e(trans('monologophobia.signup::lang.categories.text.delete_button')); ?>
    </button>

</div>
