<?php try { ?>

    <?php if ($model->customer_id) { ?>
        <?php $payment_details = $model->retrievePayments(); ?>

        <p><strong>Subscriptions</strong></p>
        <ul>
        <?php foreach ($payment_details['subscriptions'] as $subscription) { ?>
            <li><?= $subscription->plan->name ?> (£<?= $subscription->plan->amount / 100 ?> per <?= $subscription->plan->interval ?>) created <?= date("jS F Y", $subscription->created) ?></li>
        <?php } ?>
        </ul>

        <p><strong>Payments</strong><br />
        <ul>
        <?php foreach ($payment_details['payments'] as $payment) { ?>
            <li>£<?= $payment->amount / 100 ?> on <?= date("jS F Y", $payment->created) ?></li>
        <?php } ?>
        </ul>
    <?php } ?>

<?php }
catch (\Exception $e) { ?>
    <div class="callout fade in callout-danger no-icon">
        <div class="header">
            <h3>There was an error</h3>
            <ul>
                <li><?= $e->getMessage(); ?></li>
            </ul>
        </div>
    </div>
<?php } ?>