<p>Requested Training Dates:</p>

<p>
<?php
foreach ($model->plans as $plan) {
    try {
        $training_dates = \DB::table('mono_users_plans')->where('user_id',  $model->id)->where('plan_id', $plan->id)->first();
        $training_dates = ($training_dates ? $training_dates->training_dates : false);
        if (isset($training_dates)) {
            if (count($plan->training_dates) > 0) {
                 foreach($plan->training_dates as $key => $dates) {
                     if ($key == $training_dates) {
                         echo '<p>' . $plan->name . '<br />';
                         echo $dates['name'] . '<br />';
                         foreach ($dates['dates'] as $date) {
                             echo date('Y-m-d', strtotime($date['date'])) . '<br />';
                         }
                         echo '</p>';
                    }
                }
            }
        }
    }
    catch (\Exception $e) {
        echo $e->getMessage();
    }
}
?>
</p>
