<div id="payment-details" class="loading">

    <h2>Payment Details</h2>
    <p><strong>Subscriptions</strong></p>
    <ul class="subscriptions">
    </ul>
    <p><strong>Payments</strong><br />
    <ul class="payments">
    </ul>

    <p><a href="#" data-request="onCancel" data-request-confirm="Are you sure you want to cancel your account? This will also cancel any upcoming payments effective immediately.">Cancel Account</a></p>

</div>

<script>
window.addEventListener("load", function() {
    $.request('onRetrievePayments', {
        success: function(data) {
            var data = JSON.parse(data.result);
            for (var i = 0; i < data.subscriptions.length; i++) {
                var date = formatDate(data.subscriptions[i].created * 1000);
                $('#payment-details .subscriptions').append(
                    '<li>' + data.subscriptions[i].plan.name + ' (£' + data.subscriptions[i].plan.amount / 100 + ' per ' + data.subscriptions[i].plan.interval + ') created ' + date + '</li>'
                );
            }
            for (var i = 0; i < data.payments.length; i++) {
                var date = formatDate(data.payments[i].created * 1000);
                $('#payment-details .payments').append(
                    '<li>£' + data.payments[i].amount / 100 + ' on ' + date + '</li>'
                );
            }
        },
        error: function(data) {
            console.log(data);
        },
        complete: function() {
            $('#payment-details').removeClass('loading');
        }
    });
});

function formatDate(timestamp) {
    var date = new Date(timestamp);
    var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    var date_string = getOrdinal(date.getDate()) + ' ' + months[date.getMonth()] + ' ' + date.getFullYear()
    return date_string;
}

// https://stackoverflow.com/questions/13627308/add-st-nd-rd-and-th-ordinal-suffix-to-a-number
function getOrdinal(n) {
    var s = ["th","st","nd","rd"],
    v = n % 100;
    return n + (s[(v - 20) % 10] || s[v] || s[0]);
}

</script>