<h2>Update your payment method</h2>

<form method="POST" id="update-card">

    <input type="hidden" name="token" />

    <label for="card-element">Your new credit or debit card</label>

    <div id="card-element"></div>
    <div id="card-errors" role="alert"></div>

    <input type="submit" value="Update Payment Details" />

</form>

{% put scripts %}
<script>

    var stripe = Stripe("{{ publishable_key }}");
    var elements = stripe.elements();

    var style = {
        base: {
            fontSize: '14px',
            lineHeight: '24px'
        }
    };

    var card = elements.create('card', {style: style});
    card.mount('#card-element');

    card.addEventListener('change', function(event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
        }
        else {
            displayError.textContent = '';
        }
    });

    var form = document.getElementById('update-card');
    form.addEventListener('submit', function(event) {

        if (form.classList.contains('submitting')) return false;

        form.classList.add('submitting');

        event.preventDefault();

        stripe.createToken(card).then(function(result) {
            if (result.error) {
                form.classList.remove('submitting');
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            }
            else {
                var token_input = document.getElementsByName('token')[0];
                token_input.value = result.token.id;
                var data = $(form).serializeArray();
                $.request('onUpdatePaymentDetails', {data: data});
            }
        });

    });

</script>
{% endput %}