<section id="plans">
    {% for plan in plans %}
    <div class="plan" itemscope itemtype="http://schema.org/ProgramMembership">
        {% if plan.image %}
        <div class="image">
            <a href="{{ url }}/{{ plan.id }}" title="{{ plan.name }}">
                <img src="{{ plan.image.getPath() }}" alt="{{ plan.name }}" />
            </a>
        </div>
        {% endif %}
        <div class="content">
            <h2>{{ plan.name }}</h2>
            {{ plan.short_description|raw }}
            <p class="price">£{{ plan.amount }} {{ plan.getRecurringFrequencyOptions()[plan.recurring_frequency] }}</p>
            <a href="{{ url }}/{{ plan.id }}" title="Join Now" class="button">Join Now</a>
        </div>
    </div>
    {% endfor %}
</section>