<section id="plan" class="grid">
    
    <div class="plan column" itemscope itemtype="http://schema.org/ProgramMembership">
        {% if plan.image %}
        <div class="image">
            <a href="{{ url }}/{{ plan.id }}" title="{{ plan.name }}">
                <img src="{{ plan.image.getPath() }}" alt="{{ plan.name }}" />
            </a>
        </div>
        {% endif %}
        <div class="content">
            <h2>{{ plan.name }}</h2>
            {{ plan.short_description|raw }}
            <p class="price">£{{ plan.amount }} {{ plan.getRecurringFrequencyOptions()[plan.recurring_frequency] }}</p>
        </div>
    </div>

    <div class="column">
        <form method="POST" id="signup-form">

            <h3>Sign Up</h3>
            <input name="token" type="hidden" />

            {% if user %}
            <p>You are currently logged in as <strong>{{ user.email }}</strong></p>
            <p>This plan will be added to your account. If you are not {{ user.email }}, please <a href="#" title="Logout" data-request="onLogout" data-request-data="redirect: '/'">Logout</a></p>
            {% else %}
            <div class="grid">
                <div class="column">
                    <label for="name">First Name</label>
                    <input name="name" type="text" placeholder="First Name" required />
                </div>
                <div class="column">
                    <label for="surname">Surname</label>
                    <input name="surname" type="text" placeholder="Surname" required />
                </div>
            </div>
        
            <label for="email">Email</label>
            <input name="email" type="email" placeholder="Email" required />

            <div class="grid">
                <div class="column">
                    <label for="password">Password</label>
                    <input name="password" type="password" placeholder="Password" required />
                </div>
                <div class="column">
                    <label for="password_confirmation">Password Confirmation</label>
                    <input name="password_confirmation" type="password" placeholder="Password Confirmation" required />
                </div>
            </div>

            <div>
                <label for="terms_and_conditions"><input type="checkbox" value="1" name="terms_and_conditions" required /> You agree to our >Terms and Conditions</label></div>
            </div>

            {% if plan.training_dates|length > 0 %}
            <div>
                <label>Please select a your Training Dates</label>
                {% for key, training_dates in plan.training_dates %}
                    <div>
                        {% if training_dates.dates|length > 0 %}
                            <div>
                                <input type="radio" name="training_date" value="{{ key }}" />
                            </div>
                            <div>
                                {% for date in dates.date %}
                                    {{ date|date('Y-m-d H:i:s') }}<br />
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% endif %}

            <div>
                <p>Marketing Preferences</p>
                {% for category in marketing_categories %}
                    <label><input type="checkbox" name="marketing_preferences[]" value="{{ category.id }}" {% if loop.index0 == 0 %}checked {% endif %}/> {{ category.name }}</label><br />
                {% endfor %}
            </div>

            {% endif %}

            {% if plan.amount > 0 %}
            <label for="card-element">Credit or debit card</label>
        
            <div id="card-element"></div>
            <div id="card-errors" role="alert"></div>
            {% endif %}

            <input type="submit" value="Register" />
        
        </form>
    </div>

</section>

{% put scripts %}
{% if plan.amount > 0 %}
<script>

    var stripe = Stripe("{{ publishable_key }}");
    var elements = stripe.elements();

    var style = {
        base: {
            fontSize: '14px',
            lineHeight: '24px'
        }
    };

    var card = elements.create('card', {style: style});
    card.mount('#card-element');

    card.addEventListener('change', function(event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
        }
        else {
            displayError.textContent = '';
        }
    });

    var form = document.getElementById('signup-form');
    form.addEventListener('submit', function(event) {

        if (form.classList.contains('submitting')) return false;

        form.classList.add('submitting');

        event.preventDefault();

        stripe.createToken(card).then(function(result) {
            if (result.error) {
                form.classList.remove('submitting');
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            }
            else {
                var token_input = document.getElementsByName('token')[0];
                token_input.value = result.token.id;
                $(form).request('onRegister');
            }
        });

    });

</script>
{% else %}
<script>
var form = document.getElementById('signup-form');
form.addEventListener('submit', function(event) {
    if (form.classList.contains('submitting')) return false;
    form.classList.add('submitting');
    event.preventDefault();
    $(form).request('onRegister');
});
</script>
{% endif %}
{% endput %}