subject = "A payment has failed"
==

Hi {{ user.name }},
A payment for {{ user.plan.name }} has failed. We will try again in a few days time. If it fails 3 times in a row we will automatically cancel your subscription.
Thanks

Received failure notification from payment processor for {{ user.name }} {{ user.surname }} ({{ user.email }}) at {{ date }}

==

<p>Hi {{ user.name }},</p>
<p>A payment for {{ user.plan.name }} has failed. We will try again in a few days time. If it fails 3 times in a row we will automatically cancel your subscription.</p>
<p>Thanks</p>
<p>&nbsp;</p>
<p><small>Received failure notification from payment processor for {{ user.name }} {{ user.surname }} ({{ user.email }}) at {{ date }}</small></p>