subject = "Your subscription has been cancelled"
==

Hi {{ user.name }},
Your subscription for {{ user.plan.name }} has been cancelled.
Thanks

Received cancellation notification from payment processor for {{ user.name }} {{ user.surname }} ({{ user.email }}) at {{ date }}

==

<p>Hi {{ user.name }},</p>
<p>Your subscription for {{ user.plan.name }} has been cancelled.</p>
<p>Thanks</p>
<p>&nbsp;</p>
<p><small>Received cancellation notification from payment processor for {{ user.name }} {{ user.surname }} ({{ user.email }}) at {{ date }}</small></p>