subject = "Account Cancelled"
==

Hi {{ user.name }},
Your account has been cancelled and all upcoming payments for {{ user.plan.name }} have been stopped.
Thanks

{{ user.name }} {{ user.surname }} ({{ user.email }}) initiated cancellation at {{ date }}

==

<p>Hi {{ user.name }},</p>
<p>Your account has been cancelled and all upcoming payments for {{ user.plan.name }} have been stopped.</p>
<p>Thanks</p>
<p>&nbsp;</p>
<p><small>{{ user.name }} {{ user.surname }} ({{ user.email }}) initiated cancellation at {{ date }}</small></p>