<?= Form::open(['class' => 'layout']) ?>

<div class="layout-row">
    <?= $this->exportRender() ?>
</div>

<div class="callout fade in callout-danger no-icon">
    <div class="header">
        <h3>GDPR Warning</h3>
        <p>By using this export system you must abide by your own Terms and Conditions and GDPR.</p>
        <ul>
            <li>You have taken all necessary precautions to secure this computer (never leave unattended, password protected, encrypted files, etc)</li>
            <li>You will never use this data for anything other than the uses specified in your Terms and Conditions</li>
            <li>You will not sell this data on</li>
            <li>You will not transfer this data to any other party</li>
            <li>You will not store this data on USB drive, email, or any other unencrypted storage media (online cloud storage is permissible if encrypted)</li>
        </ul>
    </div>
</div>

<div class="form-buttons">
    <button
        type="submit"
        data-control="popup"
        data-handler="onExportLoadForm"
        data-keyboard="false"
        class="btn btn-primary">
        Export
    </button>
</div>

<?= Form::close() ?>