<div id="exercise-list">
    <?= $this->makePartial('exercise_list', ['exercises' => $model->exercises]) ?>
</div>

<p>
    <a
        href="javascript:;"
        class="btn btn-secondary oc-icon-plus"
        data-control="popup"
        data-handler="onLoadAddExerciseForm"
        data-size="large">
        Add Exercise
    </a>
</p>
