<input type="hidden" name="_javascript" />
<script>
var element   = $('input[name="_javascript"]');
var parent    = $(element).closest('form');
var manage_id = $(parent).find('input[name="manage_id"]').val();
var target    = $('form[data-request="onRelationManageCreate"]');
if (manage_id && $(target).find('input[name="manage_id"]').length <= 0) {
    $(target).prepend('<input type="hidden" name="manage_id" value="' + parseInt(manage_id) +'" />');
}
</script>