<?= Form::open() ?>

    <input type="hidden" name="manage_id" value="<?= $exercise_session_id ?>" />

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="popup">×</button>
        <h4 class="modal-title">Add Exercise</h4>
    </div>

    <div class="modal-body">
        <?= $exerciseFormWidget->render() ?>
    </div>

    <div class="modal-footer">
        <button
            type="submit"
            data-request="onAddExercise"
            data-request-data="redirect:0"
            data-hotkey="ctrl+s, cmd+s"
            data-popup-load-indicator
            class="btn btn-primary">
            Add
        </button>

        <button
            type="button"
            class="btn btn-default"
            data-dismiss="popup">
            Cancel
        </button>
    </div>

<?= Form::close() ?>