<?php if (count($exercises)): ?>
    <div class="list-preview list-flush">
        <div class="control-list">
            <table class="table data" data-control="rowlink">
                <thead>
                    <tr>
                        <th><span>Exercise</span></th>
                        <th><span>Reps</span></th>
                        <th><span>Sets</span></th>
                        <th><span>Additional</span></th>
                        <th><span>Order</span></th>
                        <th style="width: 10%"><span></span></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($exercises as $exercise): ?>
                        <tr>
                            <td>
                                <?= $exercise->name; ?>
                            </td>
                            <td>
                                <?= $exercise->pivot->reps; ?>
                            </td>
                            <td>
                                <?= $exercise->pivot->sets; ?>
                            </td>
                            <td>
                                <?php foreach (json_decode($exercise->pivot->additional) as $additional) { ?>
                                    <?= $additional->type ?>: <?= $additional->target ?><br />
                                <?php } ?>
                            </td>
                            <td>
                                <?= $exercise->pivot->sort_order; ?>
                            </td>
                            <td class="nolink text-right">
                                <a
                                    href="javascript:;"
                                    data-request="onRemoveExercise"
                                    data-request-data="record_id: '<?= $exercise->pivot->id ?>'"
                                    data-request-confirm="Remove this Exercise?"
                                    class="oc-icon-remove"
                                    data-toggle="tooltip"
                                    title="Remove"></a>
                            </td>
                        </tr>
                    <?php endforeach ?>
                </tbody>
            </table>
        </div>
    </div>
<?php endif ?>