<?php Block::put('breadcrumb') ?>
<ul>
    <li><a href="<?= Backend::url('monologophobia/signup/plans') ?>"><?= Lang::get('monologophobia.signup::lang.plans.name'); ?></a></li>
    <li>Edit <?= Lang::get('monologophobia.signup::lang.plans.name'); ?></li>
</ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

<?php Block::put('form-contents') ?>

    <div class="layout-row">
        <?= $this->formRenderOutsideFields() ?>
        <?= $this->formRenderPrimaryTabs() ?>
    </div>

    <div class="form-buttons">
        <div class="loading-indicator-container">
            <button
                type="button"
                data-request="onSave"
                data-request-data="close:true"
                data-hotkey="ctrl+enter, cmd+enter"
                data-load-indicator="Saving..."
                class="btn btn-primary">
                Save and Close
            </button>
            <span class="btn-text">
                or <a href="<?= Backend::url('monologophobia/signup/plans') ?>">Cancel</a>
            </span>
        </div>
    </div>

<?php Block::endPut() ?>

<?php Block::put('form-sidebar') ?>
    <div class="hide-tabs">
        <div><?= $this->formRenderSecondaryTabs() ?></div>
    </div>
<?php Block::endPut() ?>

<?php Block::put('body') ?>
    <?= Form::open(['class'=>'layout']) ?>
        <?= $this->makeLayout('form-with-sidebar') ?>
    <?= Form::close() ?>
<?php Block::endPut() ?>

<?php else: ?>
<div class="control-breadcrumb">
    <?= Block::placeholder('breadcrumb') ?>
</div>
<div class="padded-container">
    <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
    <p><a href="<?= Backend::url('monologophobia/signup/plans') ?>" class="btn btn-default">Return to <?= Lang::get('monologophobia.signup::lang.plans.name'); ?>></a></p>
</div>
<?php endif ?>
