<div data-control="toolbar">

    <a href="<?= Backend::url('monologophobia/signup/marketingpreferences/create') ?>" class="btn btn-primary oc-icon-plus">
        New Preferences
    </a>

    <button
        class="btn btn-warning oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onDelete"
        data-request-confirm="Delete Preferences?"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', false)"
        data-stripe-load-indicator>
        Delete Preferences
    </button>

</div>
